<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Dart.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BD3737D34DBAC469ECCF9E61F2E2035CDCE118BA</string>
				<key>dateExpires</key>
				<string>18/11/2021</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>37R3W9HKG5.com.lender.speer.flash</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>37R3W9HKG5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Dart.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5e755405-e0ce-4fc9-ac92-fddbcbd21e50</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.lender.speer.flash</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>37R3W9HKG5</string>
				<key>name</key>
				<string>Lender Technologies, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
